<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Geek | add prdutos</title>
</head>

<body>
    <header>
        <nav class="container navbar-menu">
            <div class="box-logo">
                <i class="bi bi-controller"></i>
                <a href="index.html" class="logo-azul">Game</a>
                <a href="index.html">Geek</a>
                <div class="box-search" style="display: none;">
                    <input type="text" placeholder="Procurar" />
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <a href="login.html"><button type="submit">Login</button></a>
        </nav>
    </header>
    <main>
        <section class="product-add">
            <div class="product-add_title">Adicionar novo produto</div>
            <form action="" class="form-cadastro">
                <input type="text" class="product-add_input__url" placeholder="URL do produto" data-url required />
                <input type="text" class="product-add_input__name" placeholder="Nome do produto" data-nome required />
                <input type="text" class="product-add_input__price" placeholder="Preço do produto" dta-preco required />
                <button type="submit" class="product-add_btn">
                    Adicionar Produtos
                </button>
            </form>
        </section>
    </main>

    <footer class="footer-bg" id="footer">
        <section class="contato">
            <div class="referencia">
                <i class="bi bi-controller"></i>
                <p>Game</p>
                <p>Geek</p>
            </div>
            <div class="links-uteis">
                <a href="#">Quem somos nós</a>
                <a href="#">Politica de Privacidade</a>
                <a href="#">Programa de fidelidade</a>
                <a href="#">Nossas lojas</a>
                <a href="#">Quero ser franqueado</a>
                <a href="#">Anuncie aqui</a>
            </div>

            <div class="form">
                <p>Fale conosco</p>
                <div class="label-float">
                    <input type="text" name="Nome" id="Nome" class="input-nome" />
                    <label for="Nome" class="label-nome">Nome</label>
                </div>
                <textarea name="mensagem" id="msg" cols="5" rows="5" placeholder="Escreva sua mensagem"></textarea>
                <button>Enviar mensagem</button>
            </div>
        </section>
        <div class="footer-dev">
            <p>Desenvolvido por <a href="https://github.com/gustavobryan">Gustavo Bryan</a></p>
        </div>
    </footer>
</body>

</html>