<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet" />

	<!-- Bootstrap CSS!-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Bootstrap icons!-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

	<!-- Bootstrap js!-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/styles/style.css">
	<title>AluraGeek | e-commerce</title>
</head>

<body>
	<header>
		<nav class="container navbar-menu">
			<div class="box-logo">
				<a href="index.html"> <i class="bi bi-controller"></i></a>
				<a href="#" class="logo-azul">Game</a>
				<a href="#">Geek</a>
				<div class="box-search">
					<input class="input-search" type="text" placeholder="Procurar" id="filter" />
					<i class="bi bi-search lupa-search"></i>
				</div>
			</div>
			<a class="login-btn" href="login.html">Login</a>
		</nav>
	</header>

	<section class="destaque">
		<div class="banner">
			<h1>Abril Promocinal</h1>
			<h4>Produtos selecionados com 33% de desconto</h4>
			<button>Ver produtos</button>
		</div>
	</section>

	<section class="container-prod">
		<div class="prod-titulo">
			<div class="titulo">
				<p></p>
			</div>
			<div class="mostrar-mais">
				<div class="div-verTudo">
					Ver Tudo<i class="bi bi-arrow-right-short verTudo"></i>
				</div>
			</div>
		</div>
		<section class="sessao-produtos" data-product>

		</section>
	</section>

	<footer class="footer-bg" id="footer">
		<section class="contato">
			<div class="referencia">
				<i class="bi bi-controller"></i>
				<p>Game</p>
				<p>Geek</p>
			</div>
			<div class="links-uteis">
				<a href="#">Quem somos nós</a>
				<a href="#">Politica de Privacidade</a>
				<a href="#">Programa de fidelidade</a>
				<a href="#">Nossas lojas</a>
				<a href="#">Quero ser franqueado</a>
				<a href="#">Anuncie aqui</a>
			</div>

			<div class="form">
				<p>Fale conosco</p>
				<div class="label-float">
					<input type="text" name="Nome" id="Nome" class="input-nome" />
					<label for="Nome" class="label-nome">Nome</label>
				</div>
				<textarea name="mensagem" id="msg" cols="5" rows="5" placeholder="Escreva sua mensagem"></textarea>
				<button>Enviar mensagem</button>
			</div>
		</section>
		<div class="footer-dev">
			<p>Desenvolvido por <a href="https://github.com/gustavobryan">Gustavo Bryan</a></p>
		</div>
	</footer>
	<script type="module" src="../controllers/produtos-controller.js"></script>
</body>

</html>