<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS!-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Bootstrap icons!-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

	<!-- Bootstrap js!-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>


	<title>AluraGeek | e-commerce</title>
</head>

<body>
	<header>
		<nav>
			<div class="logo-pesquisa">
				<div class="logo">
					<img src="../assets/logo.png" alt="logo">
					<p class="logo-azul">Alura</p>
					<p>Geek</p>
				</div>
				<input type="text" placeholder="Procurar" />
			</div>
			<div class="login">
				<a href="login.html"><button type="submit">Login</button></a>
			</div>
		</nav>
	</header>

	<section class="destaque">
		<div class="banner">
			<h1>Abril Promocinal</h1>
			<h4>Produtos selecionados com 33% de desconto</h4>
			<button>Ver produtos</button>
		</div>
	</section>

	<section class="container-prod">
		<div class="prod-titulo">
			<div class="titulo">
				<p></p>
			</div>
			<div class="mostrar-mais">
				<div class="div-verTudo">
					Ver Tudo<i class="bi bi-arrow-right-short verTudo"></i>
				</div>
			</div>
		</div>
		<section class="sessao-produtos" data-product>
			
		</section>
	</section>

</body>

</html>