main {
    background: white;
    padding: 30px;
}

.products_title {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
    line-height: 26px;
    margin: 0 auto;
}

.products-section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    margin: 15px;
}

img {
    height: 176px;
    width: 176px;
}

.form-control {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-add_input__url,
.product-add_input__name,
.product-add_input__price,
.product-add_textarea__description {
    align-items: center;
    border: solid #0048f0 1px ;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    justify-content: center;
    line-height: 20px;
    margin: 10px auto;
    padding: 2px;
    width: 30%;
}

.product-add_textarea__description {
    height: 60px;
}

.product-add_btn {
    align-items: center;
    background-color: #4040fb;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    height: 42px;
    justify-content: center;
    line-height: 18px;
    margin: 0 auto;
    padding: 15px;
    width: 15%;
}