:root {
    --azul-destaque: #2a7ae4;
    --bg-color: #ff0000;
    --bg-contato: #0303b5;
    --cor-secundaria: #009929;
    --cor-primaria: #4040fb;
    --cor-det: #e5c24c;
    --input-bg: #efefef;
    --input-placeholder: #c5c4c4;
    --texto-destaque: #b10005;
    font-size: "Releway", sans-serif;
  }

main {
    background-color: white;
    padding: 20px;
}

.login-login {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login_title {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
    line-height: 26px;
    margin: 0 auto;
    margin-top: 20px;
}

.login_input__url,
.login_input__name {
    align-items: center;
    border: solid black 1px;
    border-bottom: 1px solid var(--cor-primaria);
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    justify-content: center;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px 12px ;
}

.login_btn {
    align-items: center;
    background: #2a7ae4;
    border: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    height: 25px;
    justify-content: center;
    line-height: 19px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 16px;
    width: 10%;
}